node_modules
.next
.swc
*.log
.env*
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo
coverage
.nyc_output
build
dist
target
.vscode
.idea
**/.git
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store
.cache
.parcel-cache
.vercel
.netlify
tsconfig.tsbuildinfo 